@model SportO_SLMS.Models.League

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>League</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="leagueName" class="control-label"></label>
                <input asp-for="leagueName" class="form-control" />
                <span asp-validation-for="leagueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teamCapacity" class="control-label"></label>
                <input asp-for="teamCapacity" class="form-control" />
                <span asp-validation-for="teamCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeagueOwnerId" class="control-label"></label>
                <select asp-for="LeagueOwnerId" class="form-control" asp-items="ViewBag.LeagueOwnerId"></select>
                <span asp-validation-for="LeagueOwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportId" class="control-label"></label>
                <select asp-for="SportId" class="form-control" asp-items="ViewBag.SportId"></select>
                <span asp-validation-for="SportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="LeagueOwners">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
