@model SportO.Models.Season

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Season</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="seasonName" class="control-label"></label>
                <input asp-for="seasonName" class="form-control" />
                <span asp-validation-for="seasonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matchesPlayed" class="control-label"></label>
                <input asp-for="matchesPlayed" class="form-control" />
                <span asp-validation-for="matchesPlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matchesWon" class="control-label"></label>
                <input asp-for="matchesWon" class="form-control" />
                <span asp-validation-for="matchesWon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matchesLost" class="control-label"></label>
                <input asp-for="matchesLost" class="form-control" />
                <span asp-validation-for="matchesLost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matchesTied" class="control-label"></label>
                <input asp-for="matchesTied" class="form-control" />
                <span asp-validation-for="matchesTied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mPointsFavor" class="control-label"></label>
                <input asp-for="mPointsFavor" class="form-control" />
                <span asp-validation-for="mPointsFavor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mPointsAgainst" class="control-label"></label>
                <input asp-for="mPointsAgainst" class="form-control" />
                <span asp-validation-for="mPointsAgainst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seasonRecord" class="control-label"></label>
                <input asp-for="seasonRecord" class="form-control" />
                <span asp-validation-for="seasonRecord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
